.exerciseItem {
  /*border: solid 1px darkgray;*/
  /*border-radius: 15%;*/
  padding: 5px;
  margin: 5px;
  /*margin-bottom: 30px;*/
  /*box-shadow: 4px 4px 2px grey;*/
}

:host >>> col-sm-3{
  padding: 1px !important;
  flex-basis: 35% !important;
}
:host >>> .col-sm-2{
  padding: 5px !important;
  /*flex-basis: 12% !important;*/
}
:host >>> .col-sm-1{
  padding: 5px !important;
  flex-basis: 15% !important;
}
