<nb-card>
  <nb-card-header>
    لیست حرکت ها
  </nb-card-header>

  <nb-card-body>
    <div style="max-height:450px; overflow: scroll">
    <ng2-smart-table [settings]="settings" [source]="source"
                     (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>

<div style="text-align: center" class="row">
  <div class="col-sm-12">
    <button style="margin-left: 10px; margin-right: 10px" (click)="selectExercise()" type="submit"
            class="btn btn-primary">تایید
    </button>
    <button style="margin-left: 10px; margin-right: 10px" (click)="closeClick()" type="submit"
            class="btn btn-primary">بستن
    </button>
  </div>
</div>

